<div class="flex flex-col items-center min-h-screen pt-10">

    <h2>Liste des tâches</h2>

    <form (ngSubmit)="addTask()"
        class="flex flex-col md:flex-row items-stretch md:items-center space-y-3 md:space-y-0 md:space-x-4 mb-4 w-full max-w-3xl">

        <div class="form-control w-full md:w-2/5">
            <label class="label">
                <span class="label-text font-semibold">Titre de la tâche</span>
            </label>
            <input [(ngModel)]="newTaskTitle" name="task" type="text" placeholder="Ex: Acheter le lait"
                class="input input-bordered w-full" required />
        </div>

        <div class="form-control w-full md:w-2/5">
            <label class="label">
                <span class="label-text font-semibold">Priorité</span>
            </label>
            <select [(ngModel)]="newTaskPriority" name="priority" class="select select-bordered" required>
                <option disabled selected value>Choisissez une priorité</option>
                <option [ngValue]="'basse'">Basse 🟢</option>
                <option [ngValue]="'moyenne'">Moyenne 🟡</option>
                <option [ngValue]="'haute'">Haute 🔴</option>
            </select>
        </div>

        <div class="pt-8 self-start md:self-end md:w-1/5">
            <button type="submit" class="btn btn-primary w-full md:w-auto">
                Ajouter la tâche
            </button>
        </div>
    </form>
    @if (errorMessage()) {
    <div role="alert" class="alert alert-error mb-6 w-full max-w-3xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ errorMessage() }}</span>
    </div>
    }
    <div class="stats shadow mb-8 w-full max-w-3xl stats-horizontal overflow-x-auto">

        <div class="stat place-items-center">
            <div class="stat-title">Complètes</div>
            <div class="stat-value text-success">{{ tasksCompleted() }}</div>
            <div class="stat-desc">Total terminé</div>
        </div>

        <div class="stat place-items-center">
            <div class="stat-title">Restantes</div>
            <div class="stat-value text-warning">{{ tasksRemaining() }}</div>
            <div class="stat-desc">{{ tasks().length }} Tâches au total</div>
        </div>

        <div class="stat place-items-center">
            <div class="stat-title">Priorité Basse</div>
            <div class="stat-value text-info">{{ tasksByPriority('basse')() }}</div>
            <div class="stat-desc">Détente</div>
        </div>

        <div class="stat place-items-center">
            <div class="stat-title">Priorité Moyenne</div>
            <div class="stat-value text-primary">{{ tasksByPriority('moyenne')() }}</div>
            <div class="stat-desc">A surveiller</div>
        </div>

        <div class="stat place-items-center">
            <div class="stat-title">Priorité Haute</div>
            <div class="stat-value text-error">{{ tasksByPriority('haute')() }}</div>
            <div class="stat-desc">À faire immédiatement</div>
        </div>

    </div>

    <ul class="w-full max-w-3xl space-y-2">
        @for (task of tasks(); track task.id) {
        <li class="flex justify-between items-center p-4 rounded-lg shadow-md bg-base-100"
            [ngClass]="{'bg-success/20 border-l-4 border-success': task.status === 'complete', 'bg-warning/20 border-l-4 border-warning': task.status !== 'complete'}">

            <div>
                <p class="font-semibold">{{ task.title }}</p>
                <div class="text-sm text-gray-500">
                    Status: {{ task.status }} | Priorité: {{ task.priority }}
                </div>
            </div>

            <div class="flex items-center space-x-2">
                @if (task.status !== "complete") {
                <button (click)="updateTask(task.id!, task.priority, task.title)" class="btn btn-sm btn-success">
                    Marquer comme complete
                </button>
                }
                <button (click)="delTask(task.id!)" class="btn btn-sm btn-error">
                    Supprimer
                </button>
            </div>
        </li>
        }
    </ul>
</div>